section {
  padding: 2rem;
}

.front {
  font-size: 3rem;
  text-align: center;
  padding: 30vh 0;
  border: 0.2rem solid black;
}

.store {
  display: grid;
  grid-template-areas:
    "heading"
    "products";
  gap: 1rem;
}

.products {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
}

@media screen and (max-width: 650px) {
  .store .products {
    display: flex;
    flex-direction: column;
  }
}

.seeMoreBtn {
  grid-column: 1 / 4;
  text-align: center;

  color: black;
  font-weight: bold;
  border: 0.2rem solid black;
  transition: all 0.3s, letter-spacing 1s;
}

.seeMoreBtn:hover {
  background-color: black;
  letter-spacing: 2px;
  color: white;
}
