main {
  background-color: hsl(0, 0%, 100%);
}

.sidebar {
  position: fixed;
  background-color: black;
  top: 0;
  right: -100vw;
  height: 100%;
  width: 50vw;
  z-index: 1;
  color: white;
  opacity: 0.9;
  padding: 2rem;

  display: flex;
  flex-direction: column;
  gap: 2rem;
  transition: right 0.5s;
}

.showSidebar {
  composes: sidebar;
  right: 0;
}

.top {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.closeCart {
  cursor: pointer;
}

.products {
  display: grid;
  grid-template-columns: 0.5fr 2fr 1fr 0.5fr;
  align-items: center;
  gap: 1rem;
  border: 1px solid white;
  padding: 1rem;
}

.productsCart {
  display: flex;
  flex-direction: column;
}

.productIcon {
  width: 100%;
}

.productQty span {
  opacity: 0.5;
}

.total {
  display: flex;
  justify-content: space-between;
  border-top: 1px solid white;
  padding: 1rem;
}

.checkoutBtn {
  composes: addToCartBtn from "/home/elishamutang/Desktop/Projects/shopping-cart/src/components/card/Card.module.css";
  align-self: center;
}
