section {
    padding: 2rem;
}

.front {
    font-size: 3rem;
    text-align: center;
    padding: 12rem 0;
}

.store {
    padding-left: 0;
    padding-right: 0;

    display: grid;
    grid-template-areas: 
        "heading"
        "products"
    ;
    gap: 1rem;
}

.products {
    display: flex;
}

.product {
    display: flex;
    flex-direction: column;
}

img {
    width: 100%;
}